:root {
  --background-neutral-1: rgb(240, 240, 240);
  --background-inner-1: rgb(255, 255, 255);
  --background-accent-1: rgb(40, 217, 121);
  --background-dark-1: rgb(0, 0, 0);

  --text-neutral-1: rgb(0, 0, 0);
  --text-accent-1: rgb(255, 255, 255);
  --text-minor-1: rgb(20, 144, 99);
  --text-minor-on-accent-1: rgb(235, 249, 242);
  --text-subheading-1: rgb(92, 92, 92);

  --button-accent-1: rgba(126, 115, 18, 0.4);
  --button-text-accent-1: rgba(221, 241, 99, 1);
}